<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../../elevate.css">
    <title>Elevate Dashboard</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>

<div class = "col:x-center:y-center h:hScreen bd:solid:indigo:width-d2 pattern:plastic:bg-indigo-1 @hover:[pd-b:d4_pattern:plastic:bg-indigo] transition:ultra-slow">
    <img src="../../logo.svg" class ="h:c2 w:c2 mg-t:d8">
    <h1 class ="font:semibold:sans:h5 text:white:center mg-t:d12">Utility First, Design Driven.</h1>
    <a href="https://elevate-docs.pages.dev" class = "cursor:pointer font:sans:medium:wider text:indigo-1 pd:d3 mg-t:d6 bd:round-d3 pattern:glow:bg-indigo shadow:physical @hover:[mg-t:d9_font:semibold_text:white] transition:ultra-slow">View The Documentation</a>

</div>


</body>
